@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: rgb(246, 246, 246);
  background: radial-gradient(
    circle,
    rgba(246, 246, 246, 1) 0%,
    rgba(226, 233, 240, 1) 100%
  );
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.quiz-container {
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.submit-button {
  background-color: #4dacf0;
  color: #fff;
  width: 100%;
  font-size: 1.3rem;
  font-family: inherit;
  border: none;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(42, 89, 123);
}

h2 {
  margin: 0;
  text-align: center;
}

ul li {
  margin: 1rem 0;
  font-size: 1.1rem;
}

input[type="radio"] {
  cursor: pointer;
}
